<% provide(:html_title, "プロフィール変更") %>
<div class="row">
  <div class="col-xs-12 col-md-7 col-md-offset-1">
    <div class="well bs-component">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: 'form-horizontal' }) do |f| %>
          <legend>プロフィール変更</legend>
          <fieldset>

            <% if resource.errors.any? %>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3 text-danger">
                    <%= "#{resource.errors.count}件のエラーがあります。" %>
                    <% resource.errors.full_messages.each do |msg| %>
                        <span class="help-block"><%= "・#{msg}" %></span>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <label for="user_username" class="col-lg-3 control-label">ユーザ表示名</label>
              <div class="col-lg-9">
                <%= f.text_field :username, id: :user_username, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label for="user_email" class="col-lg-3 control-label">メールアドレス</label>
              <div class="col-lg-9">
                <%= f.email_field :email, id: :user_email, class: 'form-control' %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <span class="help-block">
                      メールアドレス変更の確認待ちです。 : <%= resource.unconfirmed_email %>
                    </span>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <label for="user_password" class="col-lg-3 control-label">パスワード</label>
              <div class="col-lg-9">
                <%= f.password_field :password, id: :user_password, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label for="user_password_confirmation" class="col-lg-3 control-label">パスワード(確認)</label>
              <div class="col-lg-9">
                <%= f.password_field :password_confirmation, id: :user_password_confirmation, autocomplete: "off", class: 'form-control' %>
                <span class="help-block">変更しない場合は入力しないでください。</span>
              </div>
            </div>

            <div class="form-group">
              <label for="user_current_password" class="col-lg-3 control-label">現在のパスワード</label>
              <div class="col-lg-9">
                <%= f.password_field :current_password, id: :user_current_password, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>

            <!-- TODO: #31 -->
            <%= image_tag @user.icon, class: 'img-responsive' %>
            <%= f.file_field :icon, id: :user_icon, class: 'form-control' %>
            <span class="help-block">正方形を推奨。正方形に切り取られて表示されます。</span>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= f.submit '更新', class: 'btn btn-primary' %>
              </div>
            </div>

          </fieldset>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="well bs-component">
      <legend>アカウント削除</legend>
      <p>
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "取り消せません。実行しますか？" }, method: :delete , class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
