<div class="row">
  <div class="col-xs-12 col-md-7 col-md-offset-1">
    <div class="well bs-component">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-horizontal'}) do |f| %>
          <legend>パスワードリセット</legend>
          <fieldset>

            <% if resource.errors.any? %>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3 text-danger">
                    <%= "#{resource.errors.count}件のエラーがあります。" %>
                    <% resource.errors.full_messages.each do |msg| %>
                        <span class="help-block"><%= "・#{msg}" %></span>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <label for="user_email" class="col-lg-3 control-label">メールアドレス</label>
              <div class="col-lg-9">
                <%= f.email_field :email, id: :user_email, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= f.submit 'メールを送信', class: 'btn btn-primary' %>
              </div>
            </div>

          </fieldset>

      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="well bs-component">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


