<div data-vue="game_form" class="row">
  <div data-vue-model="<%= "{ \"store_urls\": #{game.store_urls.to_json(:only => [:id, :url, :memo], :include => {:platform => {:only => [:id, :name]}})} }" %>"></div>
  <div data-vue-model="<%= "{ \"platforms\": #{@platforms.to_json(:only => [:id, :name])} }" %>"></div>
  <div data-vue-model="<%= "{ \"tags\": #{game.tags.map {|m| m.name}.to_json} }" %>"></div>

  <div class="col-sm-12 col-md-10 offset-md-1 form-area">
    <div>
      <%= form_with(model: game, local: true, class: 'form-horizontal', id: 'game-form') do |form| %>
          <span class="header-text">
            <%= title %>
          </span>

          <fieldset>
            <% if game.errors.any? %>
              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3 text-danger">
                  <%= "#{game.errors.count}件のエラーがあります。" %>
                  <% game.errors.full_messages.each do |msg| %>
                    <span class="help-block"><%= "・#{msg}" %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-12 col-md-8 order-md-1">
                <div class="form-group">
                  <label for="game_title" class="control-label">タイトル <span class="bg-danger p-1 text-white">必須</span></label>
                  <%= form.text_field :title, id: :game_title, class: 'form-control', placeholder: 'ゲームタイトルを64文字以内で入力してください', "v-model" => "game.title" %>
                </div>
                <div class="form-group">
                  <label for="game_category" class="control-label">ジャンル <span class="bg-danger p-1 text-white">必須</span></label>
                  <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}, {include_blank: '選択してください'}, {id: 'game_category', class: 'form-control', "v-model" => "game.category_id"} %>
                </div>
                <div class="form-group">
                  <label for="game_guideline" class="control-label">ガイドライン</label>
                  <%= form.text_area :guideline, id: :game_guideline, class: 'form-control', rows: 4, placeholder: '実況に関するガイドライン、もしくはガイドラインを記載したURLがあれば入力してください。特にない場合は何も記入しないでください。', "v-model" => "game.guideline" %>
                </div>

                <div class="form-group">
                  <label for="game_specific_conditions" class="control-label">実況者へ伝えたいこと</label>
                  <%= form.text_area :specific_conditions, id: :game_specific_conditions, class: 'form-control', rows: 3, placeholder: 'ゲームの楽しみ方など、実況者へ伝えたいことがあれば入力してください。', "v-model" => "game.specific_conditions" %>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 order-md-2">
                <div class="form-group">
                  <label for="game_icon" class="control-label">アイコン画像</label>
                  <div id="game_icon_preview">
                    <span class="thumbnail-preview-clip" id="preview_image" style="background-image: url(<%= game.icon %>)"></span>
                  </div>
                  <div>
                    <label class="btn btn-outline-primary btn-sm btn-block">
                      <i class="fa fa-upload" aria-hidden="true"></i> 画像をアップロード
                      <%= form.file_field :icon, id: :game_icon, class: 'hidden-element', accept: 'image/png,image/jpg,image/jpeg,image/gif', "v-on:change"=>"onUploadedFile" %>
                    </label>
                  </div>
                  <div class="subtext">正方形を推奨。正方形に切り取られて表示されます。</div>
                </div>
              </div>

              <div class="col-12 col-md-8 order-3">
                <div class="form-group">
                  <label for="game_store_urls" class="control-label">ダウンロードURL</label>
                  <div class="url-form">
                    <table class="url-form-table">
                      <tr class="url-form-group" v-for="(store_url, index) in store_urls">
                        <td class="select-platform-form">
                          <select v-model="store_url.platform.id" :id="'platform_' + index" name="game[store_url][][platform_id]" class="url-form-control">
                            <option v-for="p in platforms" :value="p.id">{{p.name}}</option>
                          </select>
                        </td>
                        <td>
                          <input type="text" v-model="store_url.url" :id="'url_' + index" name="game[store_url][][url]" class="url-form-control" placeholder="https://">
                        </td>
                        <td>
                          <input type="text" v-model="store_url.memo" :id="'memo_' + index" name="game[store_url][][memo]" class="url-form-control" placeholder="メモ">
                        </td>
                        <td>
                          <button type="button" :id="'delete_' + index" class="btn btn-link btn-remove-url" @click="removeUrl(index)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <button type="button" class="btn btn-outline-primary btn-sm" @click="addUrl"><i class="fa fa-plus" aria-hidden="true"></i> URLを追加する</button>
                  </div>
                </div>

                <div class="form-group">
                  <label for="game_tags" class="control-label">検索タグ</label>
                  <input-tag :tags="tags"></input-tag>
                  <input type="hidden" name="game[tags][]" v-for="t in tags" :value="t" class="form-control">
                  <div class="recent-tags">
                    <p>最近使用されたタグ:
                    <% @recent_tags.each do |t| %>
                      <%= t.name %>
                    <% end %>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <%= form.submit button_text, class: 'btn btn-primary btn-lg' %>
                </div>
              </div>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
