<div data-vue="game_form" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well bs-component">
      <!--<div id="vue">-->
        <!--<game-form :game="<%= game.to_json %>" :categories="<%= @categories.to_json %>"></game-form>-->
      <!--</div>-->
      {{game}}
      <%= vue_form_with(model: game, local: true, class: 'form-horizontal') do |form| %>
          <legend><%= title %></legend>

          <fieldset>
            <% if game.errors.any? %>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3 text-danger">
                    <%= "#{game.errors.count}件のエラーがあります。" %>
                    <% game.errors.full_messages.each do |msg| %>
                        <span class="help-block"><%= "・#{msg}" %></span>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <label for="game_title" class="col-lg-3 control-label">タイトル</label>
              <div class="col-lg-9">
                <%= form.text_field :title, id: :game_title, class: 'form-control', placeholder: 'ゲームタイトル' %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_category" class="col-lg-3 control-label">ジャンル</label>
              <div class="col-lg-9">
                <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}, {include_blank: '選択してください'}, {id: 'game_category', class: 'form-control'} %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_android_url" class="col-lg-3 control-label">AndroidストアURL</label>
              <div class="col-lg-9">
                <%= form.text_field :android_url, id: :game_android_url, class: 'form-control', placeholder: 'https://play.google.com/store/apps/details?id=[パッケージ名]' %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_ios_url" class="col-lg-3 control-label">iOSストアURL</label>
              <div class="col-lg-9">
                <%= form.text_field :ios_url, id: :game_ios_url, class: 'form-control', placeholder: 'https://itunes.apple.com/jp/app/id[app_id]' %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_guideline" class="col-lg-3 control-label">ガイドライン</label>
              <div class="col-lg-9">
                <%= form.text_area :guideline, id: :game_guideline, class: 'form-control', rows: 5, placeholder: '実況に関するガイドライン、もしくはガイドラインを記載したURLがあれば入力してください。特にない場合は何も記入しないでください。' %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_specific_conditions" class="col-lg-3 control-label">実況者へ伝えたいこと</label>
              <div class="col-lg-9">
                <%= form.text_area :specific_conditions, id: :game_specific_conditions, class: 'form-control', rows: 3, placeholder: 'ゲームの楽しみ方など、実況者へ伝えたいことがあれば入力してください。' %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_icon" class="col-lg-3 control-label">アイコン画像</label>
              <div class="col-lg-9">
                <%= file_field_tag 'game[icon]', id: :game_icon, class: 'form-control', "v-on:change" => "showHoge" %>
                <span class="help-block">正方形を推奨。正方形に切り取られて表示されます。</span>
              </div>
            </div>

            <!--<% for i in 1..5 %>-->

                <!--<div class="form-group">-->
                  <!--<label for="game_image<%= i %>" class="col-lg-3 control-label">スクリーンショット<%= i %></label>-->
                  <!--<div class="col-lg-9">-->
                    <!--<%= form.file_field "image#{i}", id: "game_image#{i}", class: 'form-control' %>-->
                  <!--</div>-->
                <!--</div>-->

            <!--<% end %>-->

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= form.submit button_text, class: 'btn btn-primary' %>
              </div>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
