<div data-vue="game_form" class="row">
  <div data-vue-model="<%= "{ \"store_urls\": #{game.store_urls.to_json(:only => [:id, :url, :memo], :include => {:platform => {:only => [:id, :name]}})} }" %>"></div>
  <div data-vue-model="<%= "{ \"platforms\": #{@platforms.to_json(:only => [:id, :name])} }" %>"></div>


  <div class="col-md-8 col-md-offset-2">
    <div class="well bs-component">
      <%= form_with(model: game, local: true, class: 'form-horizontal') do |form| %>
          <legend><%= title %></legend>

          <fieldset>
            <% if game.errors.any? %>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3 text-danger">
                    <%= "#{game.errors.count}件のエラーがあります。" %>
                    <% game.errors.full_messages.each do |msg| %>
                        <span class="help-block"><%= "・#{msg}" %></span>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <label for="game_title" class="col-lg-3 control-label">タイトル</label>
              <div class="col-lg-9">
                <%= form.text_field :title, id: :game_title, class: 'form-control', placeholder: 'ゲームタイトル', "v-model" => "game.title" %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_category" class="col-lg-3 control-label">ジャンル</label>
              <div class="col-lg-9">
                <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}, {include_blank: '選択してください'}, {id: 'game_category', class: 'form-control', "v-model" => "game.category_id"} %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_guideline" class="col-lg-3 control-label">ガイドライン</label>
              <div class="col-lg-9">
                <%= form.text_area :guideline, id: :game_guideline, class: 'form-control', rows: 5, placeholder: '実況に関するガイドライン、もしくはガイドラインを記載したURLがあれば入力してください。特にない場合は何も記入しないでください。', "v-model" => "game.guideline" %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_specific_conditions" class="col-lg-3 control-label">実況者へ伝えたいこと</label>
              <div class="col-lg-9">
                <%= form.text_area :specific_conditions, id: :game_specific_conditions, class: 'form-control', rows: 3, placeholder: 'ゲームの楽しみ方など、実況者へ伝えたいことがあれば入力してください。', "v-model" => "game.specific_conditions" %>
              </div>
            </div>

            <div class="form-group">
              <label for="game_icon" class="col-lg-3 control-label">アイコン画像</label>
              <div class="col-lg-9">
                <%= form.file_field :icon, id: :game_icon, class: 'form-control' %>
                <span class="help-block">正方形を推奨。正方形に切り取られて表示されます。</span>
              </div>
            </div>

            <div class="form-group">
              <label for="game_store_urls" class="col-lg-3 control-label">ダウンロードURL</label>
              <div class="col-lg-9">
                <div v-for="(store_url, index) in store_urls">
                  <select v-model="store_url.platform.id" :id="'platform_' + index" name="game[store_url][][platform_id]">
                    <option v-for="p in platforms" :value="p.id">{{p.name}}</option>
                  </select>
                  <input type="text" v-model="store_url.url" :id="'url_' + index" name="game[store_url][][url]" placeholder="https://">
                  <input type="text" v-model="store_url.memo" :id="'memo_' + index" name="game[store_url][][memo]" placeholder="メモ">
                  <button type="button" :id="'delete_' + index" @click="removeUrl(index)">削除</button>
                </div>
                <button type="button" @click="addUrl">追加</button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <%= form.submit button_text, class: 'btn btn-primary' %>
              </div>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
