<%= provide(:html_title, "登録ゲーム一覧") %>

<h1>Games</h1>


<div class="flex">
  <% @games.each do |game| %>
      <div class="item">
        <%= image_tag game.icon.url %>
      </div>
      <div class="item">
        <%= image_tag "https://unsplash.it/256/256?random" %>
      </div>
      <div class="item">
        <%= image_tag "https://unsplash.it/600/400?random" %>
      </div>
  <% end %>
</div>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Permission</th>
    <th>Specific conditions</th>
    <th>Android url</th>
    <th>Ios url</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.permission %></td>
        <td><%= game.specific_conditions %></td>
        <td><%= game.android_url %></td>
        <td><%= game.ios_url %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
