<% provide(:html_title, "#{@game.title}") %>
<div class="row game-detail">
    <div class="col-xs-12">
        <% if @game.user == current_user %>
            <%= link_to(edit_game_path(@game), class: 'btn btn-primary pull-left') do %>
                <span class="icon-pencil"></span> 編集する
            <% end %>
            <%= link_to(game_path(@game), data: {confirm: "削除しますか？"}, method: :delete, class: 'btn btn-danger pull-right') do %>
                <i class="fa fa-trash" aria-hidden="true"></i> 削除する
            <% end %>
        <% end %>
    </div>
    <span class="col-xs-12 col-sm-4 game-icon">
        <%= image_tag @game.icon.url, class: 'img-responsive' %>
    </span>
    <div class="col-xs-12 col-sm-8">
        <div class="game-detail-title">
            <p><%= @game.category.name %></p>
            <h1 class="foldable-text"><%= @game.title %></h1>
        </div>
        <% if @game.guideline.present? %>
            <div class = "guideline">
                <span class="guideline-header"><i class="fa fa-warning" aria-hidden="true"></i>実況ガイドライン</span>
                <span class="guideline-contents"><%= text_contain_url(h(@game.guideline)).html_safe %></span>
            </div>
        <% end %>
        <div class="game-describe">
            <legend><i class="fa fa-comment-o" aria-hidden="true"></i> 開発者からのメッセージ</legend>
            <span class="game-describe-contents"><% if @game.specific_conditions.present? %><%= text_contain_url(h(@game.specific_conditions)).html_safe %><% else %>特にありません<% end %></span>
        </div>
        <div class="game-external-links">
            <legend><i class="fa fa-link" aria-hidden="true"></i> 関連リンク</legend>
            <div class="game-external-links-contents">
                <% if @game.android_url.present? %>
                    <%= link_to @game.android_url, target: '_blank' do %>
                        <%= image_tag(asset_path('google-play-badge.png'), :class => 'google-play-badge') %>
                    <% end %>
                <% end %>
                <% if @game.ios_url.present? %>
                    <%= link_to @game.ios_url, target: '_blank' do %>
                        <%= image_tag(asset_path("Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg"), :class => 'apple-store-badge') %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
