<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">そのゲーム、実況できる？</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">トップ</a></li>
          <li><a href="/games">ゲーム一覧</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'ゲームを登録', new_game_path %></li>
          <% if user_signed_in? %>
              <!--<li><strong><%= link_to current_user.username, root_path %></strong></li>-->
              <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to 'ユーザー登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>