<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/ga' %>
  <title><%= full_title(yield(:html_title)) %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application' %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if yield(:twitter_title).present? && yield(:twitter_description).present? && yield(:twitter_image).present?%>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= yield(:twitter_title) %>">
    <meta name="twitter:description" content="<%= yield(:twitter_description) %>">
    <meta name="twitter:image" content="<%= yield(:twitter_image) %>">
  <% end %>
</head>

<body>
<%= render 'layouts/header' %>
<%= render 'layouts/alert' %>

<div class="main-content">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
